

/*body,h1,button, #message el are all called css selectors
    class = dot operator
    id = hashtag

*/
body{
    /*font stack*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(16, 81, 16);
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
}
h1{
    color: yellow;
}

#message-el{
    font-style: italic;
   
}

button{
    color:rgb(16, 81, 16);
    background: yellow;
    font-weight:bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px; /*the round edge feature of the button*/
    margin-bottom: 3px;
    margin-top: 3px;
}